In [12]:
import numpy as np
import pandas as pd

In [22]:
df=pd.read_csv("vaccination-data.csv")

In [23]:
df

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_FULLY_VACCINATED,PERSONS_FULLY_VACCINATED_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED
0,Falkland Islands (Malvinas),FLK,AMRO,OWID,2021-04-14,4407,2632.0,126.529,75.567,1775.0,50.962,AstraZeneca - AZD1222,NaN,1.0
1,Saint Helena,SHN,AFRO,OWID,2021-05-05,7892,4361.0,129.995,71.833,3531.0,58.162,AstraZeneca - AZD1222,NaN,1.0
2,Greenland,GRL,EURO,OWID,2022-01-04,78558,40469.0,138.375,71.283,38089.0,67.091,Moderna - mRNA-1273,NaN,1.0
3,Faroe Islands,FRO,EURO,OWID,2022-01-13,100616,41557.0,205.906,85.045,40739.0,83.371,"Moderna - mRNA-1273, Pfizer BioNTech - Comirnaty",NaN,2.0
4,Gibraltar,GIB,EURO,OWID,2022-01-12,109110,41232.0,323.855,122.383,40117.0,119.073,Pfizer BioNTech - Comirnaty,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Luxembourg,LUX,EURO,REPORTING,2022-01-09,1089085,456893.0,173.900,72.974,397194.0,69.998,"AstraZeneca - Vaxzevria,Janssen - Ad26.COV 2-S...",2020-12-30,4.0
224,Norway,NOR,EURO,REPORTING,2022-01-09,10126353,4292103.0,188.700,79.963,3938769.0,73.498,"AstraZeneca - Vaxzevria,Janssen - Ad26.COV 2-S...",2020-12-23,4.0
225,Israel,ISR,EURO,REPORTING,2022-01-02,13901481,6635654.0,160.600,76.664,5993082.0,69.240,"AstraZeneca - Vaxzevria,Moderna - Spikevax,Pfi...",2020-12-16,3.0
226,Bulgaria,BGR,EURO,REPORTING,2022-01-09,3864538,2003184.0,55.600,28.817,1475900.0,28.059,"AstraZeneca - Vaxzevria,Janssen - Ad26.COV 2-S...",2020-12-30,4.0
227,Montenegro,MNE,EURO,REPORTING,2022-01-02,520772,273276.0,82.900,43.944,247496.0,39.798,"AstraZeneca - Vaxzevria,Beijing CNBG - BBIBP-C...",2021-02-24,4.0

In [24]:
df.describe()

,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_FULLY_VACCINATED,PERSONS_FULLY_VACCINATED_PER100,NUMBER_VACCINES_TYPES_USED
count,2.280000e+02,2.260000e+02,228.000000,226.000000,2.260000e+02,226.000000,225.000000
mean,4.120640e+07,2.055825e+07,109.082947,52.706912,1.743969e+07,46.665659,3.853333
std,2.216155e+08,1.056179e+08,66.202204,26.930026,9.337055e+07,26.575158,1.875786
min,7.400000e+01,3.700000e+01,0.071000,0.054000,3.700000e+01,0.051000,1.000000
25%,3.011468e+05,1.575932e+05,55.323000,30.896250,1.261352e+05,25.805750,2.000000
50%,2.333284e+06,1.286161e+06,109.760500,58.031000,9.908105e+05,48.523500,4.000000
75%,1.414628e+07,7.157364e+06,159.332750,74.739750,5.755785e+06,69.956750,5.000000
max,2.894178e+09,1.265451e+09,323.855000,122.383000,1.215145e+09,119.073000,10.000000

In [25]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
TOTAL_VACCINATIONS,228.0,4.120640e+07,2.216155e+08,74.000,301146.75000,2.333284e+06,1.414628e+07,2.894178e+09
PERSONS_VACCINATED_1PLUS_DOSE,226.0,2.055825e+07,1.056179e+08,37.000,157593.25000,1.286161e+06,7.157364e+06,1.265451e+09
TOTAL_VACCINATIONS_PER100,228.0,1.090829e+02,6.620220e+01,0.071,55.32300,1.097605e+02,1.593328e+02,3.238550e+02
PERSONS_VACCINATED_1PLUS_DOSE_PER100,226.0,5.270691e+01,2.693003e+01,0.054,30.89625,5.803100e+01,7.473975e+01,1.223830e+02
PERSONS_FULLY_VACCINATED,226.0,1.743969e+07,9.337055e+07,37.000,126135.25000,9.908105e+05,5.755785e+06,1.215145e+09
PERSONS_FULLY_VACCINATED_PER100,226.0,4.666566e+01,2.657516e+01,0.051,25.80575,4.852350e+01,6.995675e+01,1.190730e+02
NUMBER_VACCINES_TYPES_USED,225.0,3.853333e+00,1.875786e+00,1.000,2.00000,4.000000e+00,5.000000e+00,1.000000e+01

In [6]:
df.dtypes

COUNTRY                                  object
ISO3                                     object
WHO_REGION                               object
DATA_SOURCE                              object
DATE_UPDATED                             object
TOTAL_VACCINATIONS                        int64
PERSONS_VACCINATED_1PLUS_DOSE           float64
TOTAL_VACCINATIONS_PER100               float64
PERSONS_VACCINATED_1PLUS_DOSE_PER100    float64
PERSONS_FULLY_VACCINATED                float64
PERSONS_FULLY_VACCINATED_PER100         float64
VACCINES_USED                            object
FIRST_VACCINE_DATE                       object
NUMBER_VACCINES_TYPES_USED              float64
dtype: object

In [26]:
df.isna().sum()

COUNTRY                                  0
ISO3                                     0
WHO_REGION                               0
DATA_SOURCE                              0
DATE_UPDATED                             0
TOTAL_VACCINATIONS                       0
PERSONS_VACCINATED_1PLUS_DOSE            2
TOTAL_VACCINATIONS_PER100                0
PERSONS_VACCINATED_1PLUS_DOSE_PER100     2
PERSONS_FULLY_VACCINATED                 2
PERSONS_FULLY_VACCINATED_PER100          2
VACCINES_USED                            3
FIRST_VACCINE_DATE                      20
NUMBER_VACCINES_TYPES_USED               3
dtype: int64

In [16]:
df

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_FULLY_VACCINATED,PERSONS_FULLY_VACCINATED_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED
0,Falkland Islands (Malvinas),FLK,AMRO,OWID,2021-04-14,4407,2632.0,126.529,75.567,1775.0,50.962,AstraZeneca - AZD1222,NaN,1.0
1,Saint Helena,SHN,AFRO,OWID,2021-05-05,7892,4361.0,129.995,71.833,3531.0,58.162,AstraZeneca - AZD1222,NaN,1.0
2,Greenland,GRL,EURO,OWID,2022-01-04,78558,40469.0,138.375,71.283,38089.0,67.091,Moderna - mRNA-1273,NaN,1.0
3,Faroe Islands,FRO,EURO,OWID,2022-01-13,100616,41557.0,205.906,85.045,40739.0,83.371,"Moderna - mRNA-1273, Pfizer BioNTech - Comirnaty",NaN,2.0
4,Gibraltar,GIB,EURO,OWID,2022-01-12,109110,41232.0,323.855,122.383,40117.0,119.073,Pfizer BioNTech - Comirnaty,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Luxembourg,LUX,EURO,REPORTING,2022-01-09,1089085,456893.0,173.900,72.974,397194.0,69.998,"AstraZeneca - Vaxzevria,Janssen - Ad26.COV 2-S...",2020-12-30,4.0
224,Norway,NOR,EURO,REPORTING,2022-01-09,10126353,4292103.0,188.700,79.963,3938769.0,73.498,"AstraZeneca - Vaxzevria,Janssen - Ad26.COV 2-S...",2020-12-23,4.0
225,Israel,ISR,EURO,REPORTING,2022-01-02,13901481,6635654.0,160.600,76.664,5993082.0,69.240,"AstraZeneca - Vaxzevria,Moderna - Spikevax,Pfi...",2020-12-16,3.0
226,Bulgaria,BGR,EURO,REPORTING,2022-01-09,3864538,2003184.0,55.600,28.817,1475900.0,28.059,"AstraZeneca - Vaxzevria,Janssen - Ad26.COV 2-S...",2020-12-30,4.0
227,Montenegro,MNE,EURO,REPORTING,2022-01-02,520772,273276.0,82.900,43.944,247496.0,39.798,"AstraZeneca - Vaxzevria,Beijing CNBG - BBIBP-C...",2021-02-24,4.0

In [29]:
df["TOTAL_VACCINATIONS"].sum()      #total vaccinations all over the world

9395059118

In [30]:
df["PERSONS_FULLY_VACCINATED"].sum()      #total persons fully vacinated

3941370472.0

In [31]:
df.NUMBER_VACCINES_TYPES_USED.fillna(df.NUMBER_VACCINES_TYPES_USED.mean(),inplace=True)

In [32]:
df

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_FULLY_VACCINATED,PERSONS_FULLY_VACCINATED_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED
0,Falkland Islands (Malvinas),FLK,AMRO,OWID,2021-04-14,4407,2632.0,126.529,75.567,1775.0,50.962,AstraZeneca - AZD1222,NaN,1.0
1,Saint Helena,SHN,AFRO,OWID,2021-05-05,7892,4361.0,129.995,71.833,3531.0,58.162,AstraZeneca - AZD1222,NaN,1.0
2,Greenland,GRL,EURO,OWID,2022-01-04,78558,40469.0,138.375,71.283,38089.0,67.091,Moderna - mRNA-1273,NaN,1.0
3,Faroe Islands,FRO,EURO,OWID,2022-01-13,100616,41557.0,205.906,85.045,40739.0,83.371,"Moderna - mRNA-1273, Pfizer BioNTech - Comirnaty",NaN,2.0
4,Gibraltar,GIB,EURO,OWID,2022-01-12,109110,41232.0,323.855,122.383,40117.0,119.073,Pfizer BioNTech - Comirnaty,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Luxembourg,LUX,EURO,REPORTING,2022-01-09,1089085,456893.0,173.900,72.974,397194.0,69.998,"AstraZeneca - Vaxzevria,Janssen - Ad26.COV 2-S...",2020-12-30,4.0
224,Norway,NOR,EURO,REPORTING,2022-01-09,10126353,4292103.0,188.700,79.963,3938769.0,73.498,"AstraZeneca - Vaxzevria,Janssen - Ad26.COV 2-S...",2020-12-23,4.0
225,Israel,ISR,EURO,REPORTING,2022-01-02,13901481,6635654.0,160.600,76.664,5993082.0,69.240,"AstraZeneca - Vaxzevria,Moderna - Spikevax,Pfi...",2020-12-16,3.0
226,Bulgaria,BGR,EURO,REPORTING,2022-01-09,3864538,2003184.0,55.600,28.817,1475900.0,28.059,"AstraZeneca - Vaxzevria,Janssen - Ad26.COV 2-S...",2020-12-30,4.0
227,Montenegro,MNE,EURO,REPORTING,2022-01-02,520772,273276.0,82.900,43.944,247496.0,39.798,"AstraZeneca - Vaxzevria,Beijing CNBG - BBIBP-C...",2021-02-24,4.0

In [33]:
df.isna().sum()

COUNTRY                                  0
ISO3                                     0
WHO_REGION                               0
DATA_SOURCE                              0
DATE_UPDATED                             0
TOTAL_VACCINATIONS                       0
PERSONS_VACCINATED_1PLUS_DOSE            2
TOTAL_VACCINATIONS_PER100                0
PERSONS_VACCINATED_1PLUS_DOSE_PER100     2
PERSONS_FULLY_VACCINATED                 2
PERSONS_FULLY_VACCINATED_PER100          2
VACCINES_USED                            3
FIRST_VACCINE_DATE                      20
NUMBER_VACCINES_TYPES_USED               0
dtype: int64

In [30]:
df["FIRST_VACCINE_DATE"]=pd.to_datetime(df["FIRST_VACCINE_DATE"])

In [28]:
df.dtypes

COUNTRY                                         object
ISO3                                            object
WHO_REGION                                      object
DATA_SOURCE                                     object
DATE_UPDATED                                    object
TOTAL_VACCINATIONS                               int64
PERSONS_VACCINATED_1PLUS_DOSE                  float64
TOTAL_VACCINATIONS_PER100                      float64
PERSONS_VACCINATED_1PLUS_DOSE_PER100           float64
PERSONS_FULLY_VACCINATED                       float64
PERSONS_FULLY_VACCINATED_PER100                float64
VACCINES_USED                                   object
FIRST_VACCINE_DATE                      datetime64[ns]
NUMBER_VACCINES_TYPES_USED                     float64
dtype: object

In [78]:
df

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_FULLY_VACCINATED,PERSONS_FULLY_VACCINATED_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED
0,Falkland Islands (Malvinas),FLK,AMRO,OWID,2021-04-14,4407,2632.0,126.529,75.567,1775.0,50.962,AstraZeneca - AZD1222,2021-12-10,1.0
1,Saint Helena,SHN,AFRO,OWID,2021-05-05,7892,4361.0,129.995,71.833,3531.0,58.162,AstraZeneca - AZD1222,2021-12-11,1.0
2,Greenland,GRL,EURO,OWID,2022-01-04,78558,40469.0,138.375,71.283,38089.0,67.091,Moderna - mRNA-1273,2021-12-12,1.0
3,Faroe Islands,FRO,EURO,OWID,2022-01-13,100616,41557.0,205.906,85.045,40739.0,83.371,"Moderna - mRNA-1273, Pfizer BioNTech - Comirnaty",2021-12-13,2.0
4,Gibraltar,GIB,EURO,OWID,2022-01-12,109110,41232.0,323.855,122.383,40117.0,119.073,Pfizer BioNTech - Comirnaty,2021-12-14,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Luxembourg,LUX,EURO,REPORTING,2022-01-09,1089085,456893.0,173.900,72.974,397194.0,69.998,"AstraZeneca - Vaxzevria,Janssen - Ad26.COV 2-S...",2020-12-30,4.0
224,Norway,NOR,EURO,REPORTING,2022-01-09,10126353,4292103.0,188.700,79.963,3938769.0,73.498,"AstraZeneca - Vaxzevria,Janssen - Ad26.COV 2-S...",2020-12-23,4.0
225,Israel,ISR,EURO,REPORTING,2022-01-02,13901481,6635654.0,160.600,76.664,5993082.0,69.240,"AstraZeneca - Vaxzevria,Moderna - Spikevax,Pfi...",2020-12-16,3.0
226,Bulgaria,BGR,EURO,REPORTING,2022-01-09,3864538,2003184.0,55.600,28.817,1475900.0,28.059,"AstraZeneca - Vaxzevria,Janssen - Ad26.COV 2-S...",2020-12-30,4.0
227,Montenegro,MNE,EURO,REPORTING,2022-01-02,520772,273276.0,82.900,43.944,247496.0,39.798,"AstraZeneca - Vaxzevria,Beijing CNBG - BBIBP-C...",2021-02-24,4.0

In [80]:
dates=pd.date_range("2021-12-10",periods=1000)

In [82]:
df["FIRST_VACCINE_DATE"].fillna(pd.Series(dates),inplace=True)

In [67]:
df["NUMBER_VACCINES_TYPES_USED"].fillna(df.NUMBER_VACCINES_TYPES_USED.mean(),inplace=True)

In [52]:
df["FIRST_VACCINE_DATE"].min()

Timestamp('2020-07-22 00:00:00')

In [61]:
df.loc[df["FIRST_VACCINE_DATE"]=="2020-07-22"]

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_FULLY_VACCINATED,PERSONS_FULLY_VACCINATED_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED
117,China,CHN,WPRO,REPORTING,2022-01-08,2894178000,1.265451e+09,196.711,86.01,1.215145e+09,82.591,"Anhui ZL - Recombinant,Beijing CNBG - BBIBP-Co...",2020-07-22,8.0

In [84]:
df.VACCINES_USED.mode()[0]

'AstraZeneca - Vaxzevria,Janssen - Ad26.COV 2-S,Moderna - Spikevax,Pfizer BioNTech - Comirnaty'

In [85]:
df.VACCINES_USED.fillna(df.VACCINES_USED.mode()[0],inplace=True)

In [92]:
df.dropna(inplace=True)

In [93]:
df

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_FULLY_VACCINATED,PERSONS_FULLY_VACCINATED_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED
0,Falkland Islands (Malvinas),FLK,AMRO,OWID,2021-04-14,4407,2632.0,126.529,75.567,1775.0,50.962,AstraZeneca - AZD1222,2021-12-10,1.0
1,Saint Helena,SHN,AFRO,OWID,2021-05-05,7892,4361.0,129.995,71.833,3531.0,58.162,AstraZeneca - AZD1222,2021-12-11,1.0
2,Greenland,GRL,EURO,OWID,2022-01-04,78558,40469.0,138.375,71.283,38089.0,67.091,Moderna - mRNA-1273,2021-12-12,1.0
3,Faroe Islands,FRO,EURO,OWID,2022-01-13,100616,41557.0,205.906,85.045,40739.0,83.371,"Moderna - mRNA-1273, Pfizer BioNTech - Comirnaty",2021-12-13,2.0
4,Gibraltar,GIB,EURO,OWID,2022-01-12,109110,41232.0,323.855,122.383,40117.0,119.073,Pfizer BioNTech - Comirnaty,2021-12-14,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Luxembourg,LUX,EURO,REPORTING,2022-01-09,1089085,456893.0,173.900,72.974,397194.0,69.998,"AstraZeneca - Vaxzevria,Janssen - Ad26.COV 2-S...",2020-12-30,4.0
224,Norway,NOR,EURO,REPORTING,2022-01-09,10126353,4292103.0,188.700,79.963,3938769.0,73.498,"AstraZeneca - Vaxzevria,Janssen - Ad26.COV 2-S...",2020-12-23,4.0
225,Israel,ISR,EURO,REPORTING,2022-01-02,13901481,6635654.0,160.600,76.664,5993082.0,69.240,"AstraZeneca - Vaxzevria,Moderna - Spikevax,Pfi...",2020-12-16,3.0
226,Bulgaria,BGR,EURO,REPORTING,2022-01-09,3864538,2003184.0,55.600,28.817,1475900.0,28.059,"AstraZeneca - Vaxzevria,Janssen - Ad26.COV 2-S...",2020-12-30,4.0
227,Montenegro,MNE,EURO,REPORTING,2022-01-02,520772,273276.0,82.900,43.944,247496.0,39.798,"AstraZeneca - Vaxzevria,Beijing CNBG - BBIBP-C...",2021-02-24,4.0

In [94]:
df["TOTAL_VACCINATIONS"].max()

2894178000

In [95]:
df[df["TOTAL_VACCINATIONS"]==2894178000]

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_FULLY_VACCINATED,PERSONS_FULLY_VACCINATED_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED
117,China,CHN,WPRO,REPORTING,2022-01-08,2894178000,1.265451e+09,196.711,86.01,1.215145e+09,82.591,"Anhui ZL - Recombinant,Beijing CNBG - BBIBP-Co...",2020-07-22,8.0

In [96]:
df["TOTAL_VACCINATIONS"].min()

74

In [97]:
df[df["TOTAL_VACCINATIONS"]==74]

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_FULLY_VACCINATED,PERSONS_FULLY_VACCINATED_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED
89,Pitcairn Islands,PCN,WPRO,REPORTING,2021-11-11,74,37.0,148.0,74.0,37.0,74.0,AstraZeneca - Vaxzevria,2021-05-17,1.0

In [98]:
df["TOTAL_VACCINATIONS_PER100"].max()

323.855

In [99]:
df[df["TOTAL_VACCINATIONS_PER100"]==323.855]

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_FULLY_VACCINATED,PERSONS_FULLY_VACCINATED_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED
4,Gibraltar,GIB,EURO,OWID,2022-01-12,109110,41232.0,323.855,122.383,40117.0,119.073,Pfizer BioNTech - Comirnaty,2021-12-14,1.0

In [105]:
df[df["COUNTRY"]=="India"]

,COUNTRY,ISO3,WHO_REGION,DATA_SOURCE,DATE_UPDATED,TOTAL_VACCINATIONS,PERSONS_VACCINATED_1PLUS_DOSE,TOTAL_VACCINATIONS_PER100,PERSONS_VACCINATED_1PLUS_DOSE_PER100,PERSONS_FULLY_VACCINATED,PERSONS_FULLY_VACCINATED_PER100,VACCINES_USED,FIRST_VACCINE_DATE,NUMBER_VACCINES_TYPES_USED
52,India,IND,SEARO,REPORTING,2022-01-11,1535192046,894058813.0,111.245,64.787,641133233.0,46.459,"Bharat - Covaxin,Gamaleya - Gam-Covid-Vac,Jans...",2021-01-16,6.0

In [2]:
df2=pd.read_csv("forest_fires.csv")
df2

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

In [3]:
df2.head(2)

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0

In [4]:
df2.describe()

,X,Y,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area
count,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000
mean,4.669246,4.299807,90.644681,110.872340,547.940039,9.021663,18.889168,44.288201,4.017602,0.021663,12.847292
std,2.313778,1.229900,5.520111,64.046482,248.066192,4.559477,5.806625,16.317469,1.791653,0.295959,63.655818
min,1.000000,2.000000,18.700000,1.100000,7.900000,0.000000,2.200000,15.000000,0.400000,0.000000,0.000000
25%,3.000000,4.000000,90.200000,68.600000,437.700000,6.500000,15.500000,33.000000,2.700000,0.000000,0.000000
50%,4.000000,4.000000,91.600000,108.300000,664.200000,8.400000,19.300000,42.000000,4.000000,0.000000,0.520000
75%,7.000000,5.000000,92.900000,142.400000,713.900000,10.800000,22.800000,53.000000,4.900000,0.000000,6.570000
max,9.000000,9.000000,96.200000,291.300000,860.600000,56.100000,33.300000,100.000000,9.400000,6.400000,1090.840000

In [5]:
df2.describe().T

      count        mean         std   min    25%     50%     75%      max
X     517.0    4.669246    2.313778   1.0    3.0    4.00    7.00     9.00
Y     517.0    4.299807    1.229900   2.0    4.0    4.00    5.00     9.00
FFMC  517.0   90.644681    5.520111  18.7   90.2   91.60   92.90    96.20
DMC   517.0  110.872340   64.046482   1.1   68.6  108.30  142.40   291.30
DC    517.0  547.940039  248.066192   7.9  437.7  664.20  713.90   860.60
ISI   517.0    9.021663    4.559477   0.0    6.5    8.40   10.80    56.10
temp  517.0   18.889168    5.806625   2.2   15.5   19.30   22.80    33.30
RH    517.0   44.288201   16.317469  15.0   33.0   42.00   53.00   100.00
wind  517.0    4.017602    1.791653   0.4    2.7    4.00    4.90     9.40
rain  517.0    0.021663    0.295959   0.0    0.0    0.00    0.00     6.40
area  517.0   12.847292   63.655818   0.0    0.0    0.52    6.57  1090.84

In [6]:
df2.dtypes

X          int64
Y          int64
month     object
day       object
FFMC     float64
DMC      float64
DC       float64
ISI      float64
temp     float64
RH         int64
wind     float64
rain     float64
area     float64
dtype: object

In [7]:
df2.isna().sum()

X        0
Y        0
month    0
day      0
FFMC     0
DMC      0
DC       0
ISI      0
temp     0
RH       0
wind     0
rain     0
area     0
dtype: int64

In [3]:
df1=pd.read_csv("Copy of olmpics.csv")

In [4]:
df1

,Unnamed: 0,? Summer,01 !,02 !,03 !,Total,? Winter,01 !.1,02 !.1,03 !.1,Total.1,? Games,01 !.2,02 !.2,03 !.2,Combined total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
143,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
144,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
145,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
146,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [6]:
df1.shape

(147, 16)

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      147 non-null    object
 1   ? Summer        147 non-null    int64
 2   01 !            147 non-null    int64
 3   02 !            147 non-null    int64
 4   03 !            147 non-null    int64
 5   Total           147 non-null    int64
 6   ? Winter        147 non-null    int64
 7   01 !.1          147 non-null    int64
 8   02 !.1          147 non-null    int64
 9   03 !.1          147 non-null    int64
 10  Total.1         147 non-null    int64
 11  ? Games         147 non-null    int64
 12  01 !.2          147 non-null    int64
 13  02 !.2          147 non-null    int64
 14  03 !.2          147 non-null    int64
 15  Combined total  147 non-null    int64
dtypes: int64(15), object(1)
memory usage: 18.5+ KB

In [19]:
df1.rename(columns={"Unnamed: 0":"Countries"},inplace=True)

In [21]:
df1.rename(columns={"? Summer":"summer","01 !":"Gold","02 !":"Silver","03 !":"Bronze","? Winter":"winter"},inplace=True)

In [26]:
df1.rename(columns={"02 !.1":"Silver"},inplace=True)

In [28]:
df1

,Countries,summer,Gold,Silver,Bronze,Total,winter,Gold,Silver,Bronze,Total.1,? Games,01 !.2,Silver,03 !.2,Combined total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
143,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
144,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
145,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
146,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579